<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KickOff Shop</title>
  </head>
  <body>
    <h1>KickOff Shop</h1>
    <h2>The Best Football Shop in Town!</h2>
    <h5>NPM:</h5>
    <p>{{ npm }}</p>

    <h5>Name:</h5>
    <p>{{ name }}</p>

    <h5>Class:</h5>
    <p>{{ class }}</p>

    <a href="{% url 'main:create_product' %}">
      <button>+ Add Product</button>
    </a>

    <hr />

    {% if not product_list %}
    <p>Belum ada data produk pada KickOff Shop.</p>
    {% else %} {% for product in product_list %}
    <div>
      <h2>
        <a href="{% url 'main:show_product' product.id %}"
          >{{ product.name }}</a
        >
      </h2>

      {% if product.thumbnail %}
      <img
        src="{{ product.thumbnail }}"
        alt="thumbnail"
        width="150"
        height="100"
      />
      <br />
      {% endif %}

      <p>
        <b>Rp.{{ product.price }}</b>
        </br></br>
        <b>{{ product.get_category_display }}</b> | {% if product.is_featured %}
        <b>Featured</b> | {% endif %}
      </p>

      <p>{{ product.description|truncatewords:25 }}...</p>

      <p>
        <a href="{% url 'main:show_product' product.id %}"
          ><button>Product Detail</button></a
        >
      </p>
    </div>

    <hr />
    {% endfor %} {% endif %}
  </body>
</html>
